body{
  background-color: #f0eff2;
}

.container{
margin: 0 auto;
width: 60%;
}

h1 {
  margin: 0;
  position: relative;
  padding-left: 20px;
  font-size: 30px;
}

h1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #000;
}

.btn-month{
  padding: 0px 20px;
}

.month-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  margin: 15px 0;
  padding: 15px 0;
  background-color: #fff;
  border-radius: 20px;
}

button{
  font-size: 15px;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #fff;
}

table{
  width: 100%;
}

.table{
background-color: #fff;
width: 100%;
margin-top: 20px;
border-collapse: collapse;
padding: 20px;
border-radius: 20px;
}

.table__header{
  color: grey;
  border-bottom: 3px solid #ddd;
}
.table th, .table td {
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid #ddd;
  text-align: center;
}

.export-form{
  padding: 15px;
  background-color: #000;
  color: #ffff;
  width: 13%;
  margin-top: 20px;
  margin-left: auto;
  text-align: center;
  border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 850px) {
  .container{
    margin: 0 auto;
    width: 80%;
    }
}